<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ufo.mapper.GridColumnInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.ufo.entity.GridColumnInfoEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="grid_id" property="gridId" jdbcType="BIGINT" />
    <result column="data_id" property="dataId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="field" property="field" jdbcType="VARCHAR" />
    <result column="data_options" property="dataOptions" jdbcType="VARCHAR" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="rowspan" property="rowspan" jdbcType="INTEGER" />
    <result column="colspan" property="colspan" jdbcType="INTEGER" />
    <result column="halign" property="halign" jdbcType="VARCHAR" />
    <result column="align" property="align" jdbcType="VARCHAR" />
    <result column="sortable" property="sortable" jdbcType="BIT" />
    <result column="order" property="order" jdbcType="VARCHAR" />
    <result column="resizable" property="resizable" jdbcType="BIT" />
    <result column="fixed" property="fixed" jdbcType="BIT" />
    <result column="hidden" property="hidden" jdbcType="BIT" />
    <result column="checkbox" property="checkbox" jdbcType="BIT" />
    <result column="frozen" property="frozen" jdbcType="BIT" />
    <result column="formatter" property="formatter" jdbcType="VARCHAR" />
    <result column="styler" property="styler" jdbcType="VARCHAR" />
    <result column="sorter" property="sorter" jdbcType="VARCHAR" />
    <result column="editor" property="editor" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="valid_type" property="validType" jdbcType="VARCHAR" />
    <result column="required" property="required" jdbcType="BIT" />
    <result column="searchable" property="searchable" jdbcType="BIT" />
    <result column="insertable" property="insertable" jdbcType="BIT" />
    <result column="modifyable" property="modifyable" jdbcType="BIT" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, grid_id, data_id, title, field, data_options, width, rowspan, colspan, halign, 
    align, sortable, `order`, resizable, fixed, hidden, checkbox, frozen, formatter, 
    styler, sorter, editor, `type`, `value`, valid_type, required, searchable, insertable, 
    modifyable, `status`, create_time, creater, update_time, updater
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ufo_grid_column_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ufo_grid_column_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ufo.entity.GridColumnInfoEntity" >
    insert into ufo_grid_column_info (id, grid_id, data_id, 
      title, field, data_options, 
      width, rowspan, colspan, 
      halign, align, sortable, 
      `order`, resizable, fixed, hidden, 
      checkbox, frozen, formatter, 
      styler, sorter, editor, 
      `type`, `value`, valid_type, 
      required, searchable, insertable, 
      modifyable, `status`, create_time, 
      creater, update_time, updater
      )
    values (#{id,jdbcType=BIGINT}, #{gridId,jdbcType=BIGINT}, #{dataId,jdbcType=BIGINT}, 
      #{title,jdbcType=VARCHAR}, #{field,jdbcType=VARCHAR}, #{dataOptions,jdbcType=VARCHAR}, 
      #{width,jdbcType=INTEGER}, #{rowspan,jdbcType=INTEGER}, #{colspan,jdbcType=INTEGER}, 
      #{halign,jdbcType=VARCHAR}, #{align,jdbcType=VARCHAR}, #{sortable,jdbcType=BIT}, 
      #{order,jdbcType=VARCHAR}, #{resizable,jdbcType=BIT}, #{fixed,jdbcType=BIT}, #{hidden,jdbcType=BIT}, 
      #{checkbox,jdbcType=BIT}, #{frozen,jdbcType=BIT}, #{formatter,jdbcType=VARCHAR}, 
      #{styler,jdbcType=VARCHAR}, #{sorter,jdbcType=VARCHAR}, #{editor,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{validType,jdbcType=VARCHAR}, 
      #{required,jdbcType=BIT}, #{searchable,jdbcType=BIT}, #{insertable,jdbcType=BIT}, 
      #{modifyable,jdbcType=BIT}, #{status,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ufo.entity.GridColumnInfoEntity" >
    insert into ufo_grid_column_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gridId != null" >
        grid_id,
      </if>
      <if test="dataId != null" >
        data_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="field != null" >
        field,
      </if>
      <if test="dataOptions != null" >
        data_options,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="rowspan != null" >
        rowspan,
      </if>
      <if test="colspan != null" >
        colspan,
      </if>
      <if test="halign != null" >
        halign,
      </if>
      <if test="align != null" >
        align,
      </if>
      <if test="sortable != null" >
        sortable,
      </if>
      <if test="order != null" >
        `order`,
      </if>
      <if test="resizable != null" >
        resizable,
      </if>
      <if test="fixed != null" >
        fixed,
      </if>
      <if test="hidden != null" >
        hidden,
      </if>
      <if test="checkbox != null" >
        checkbox,
      </if>
      <if test="frozen != null" >
        frozen,
      </if>
      <if test="formatter != null" >
        formatter,
      </if>
      <if test="styler != null" >
        styler,
      </if>
      <if test="sorter != null" >
        sorter,
      </if>
      <if test="editor != null" >
        editor,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="value != null" >
        `value`,
      </if>
      <if test="validType != null" >
        valid_type,
      </if>
      <if test="required != null" >
        required,
      </if>
      <if test="searchable != null" >
        searchable,
      </if>
      <if test="insertable != null" >
        insertable,
      </if>
      <if test="modifyable != null" >
        modifyable,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gridId != null" >
        #{gridId,jdbcType=BIGINT},
      </if>
      <if test="dataId != null" >
        #{dataId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="field != null" >
        #{field,jdbcType=VARCHAR},
      </if>
      <if test="dataOptions != null" >
        #{dataOptions,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="rowspan != null" >
        #{rowspan,jdbcType=INTEGER},
      </if>
      <if test="colspan != null" >
        #{colspan,jdbcType=INTEGER},
      </if>
      <if test="halign != null" >
        #{halign,jdbcType=VARCHAR},
      </if>
      <if test="align != null" >
        #{align,jdbcType=VARCHAR},
      </if>
      <if test="sortable != null" >
        #{sortable,jdbcType=BIT},
      </if>
      <if test="order != null" >
        #{order,jdbcType=VARCHAR},
      </if>
      <if test="resizable != null" >
        #{resizable,jdbcType=BIT},
      </if>
      <if test="fixed != null" >
        #{fixed,jdbcType=BIT},
      </if>
      <if test="hidden != null" >
        #{hidden,jdbcType=BIT},
      </if>
      <if test="checkbox != null" >
        #{checkbox,jdbcType=BIT},
      </if>
      <if test="frozen != null" >
        #{frozen,jdbcType=BIT},
      </if>
      <if test="formatter != null" >
        #{formatter,jdbcType=VARCHAR},
      </if>
      <if test="styler != null" >
        #{styler,jdbcType=VARCHAR},
      </if>
      <if test="sorter != null" >
        #{sorter,jdbcType=VARCHAR},
      </if>
      <if test="editor != null" >
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="validType != null" >
        #{validType,jdbcType=VARCHAR},
      </if>
      <if test="required != null" >
        #{required,jdbcType=BIT},
      </if>
      <if test="searchable != null" >
        #{searchable,jdbcType=BIT},
      </if>
      <if test="insertable != null" >
        #{insertable,jdbcType=BIT},
      </if>
      <if test="modifyable != null" >
        #{modifyable,jdbcType=BIT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ufo.entity.GridColumnInfoEntity" >
    update ufo_grid_column_info
    <set >
      <if test="gridId != null" >
        grid_id = #{gridId,jdbcType=BIGINT},
      </if>
      <if test="dataId != null" >
        data_id = #{dataId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="field != null" >
        field = #{field,jdbcType=VARCHAR},
      </if>
      <if test="dataOptions != null" >
        data_options = #{dataOptions,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="rowspan != null" >
        rowspan = #{rowspan,jdbcType=INTEGER},
      </if>
      <if test="colspan != null" >
        colspan = #{colspan,jdbcType=INTEGER},
      </if>
      <if test="halign != null" >
        halign = #{halign,jdbcType=VARCHAR},
      </if>
      <if test="align != null" >
        align = #{align,jdbcType=VARCHAR},
      </if>
      <if test="sortable != null" >
        sortable = #{sortable,jdbcType=BIT},
      </if>
      <if test="order != null" >
        `order` = #{order,jdbcType=VARCHAR},
      </if>
      <if test="resizable != null" >
        resizable = #{resizable,jdbcType=BIT},
      </if>
      <if test="fixed != null" >
        fixed = #{fixed,jdbcType=BIT},
      </if>
      <if test="hidden != null" >
        hidden = #{hidden,jdbcType=BIT},
      </if>
      <if test="checkbox != null" >
        checkbox = #{checkbox,jdbcType=BIT},
      </if>
      <if test="frozen != null" >
        frozen = #{frozen,jdbcType=BIT},
      </if>
      <if test="formatter != null" >
        formatter = #{formatter,jdbcType=VARCHAR},
      </if>
      <if test="styler != null" >
        styler = #{styler,jdbcType=VARCHAR},
      </if>
      <if test="sorter != null" >
        sorter = #{sorter,jdbcType=VARCHAR},
      </if>
      <if test="editor != null" >
        editor = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="validType != null" >
        valid_type = #{validType,jdbcType=VARCHAR},
      </if>
      <if test="required != null" >
        required = #{required,jdbcType=BIT},
      </if>
      <if test="searchable != null" >
        searchable = #{searchable,jdbcType=BIT},
      </if>
      <if test="insertable != null" >
        insertable = #{insertable,jdbcType=BIT},
      </if>
      <if test="modifyable != null" >
        modifyable = #{modifyable,jdbcType=BIT},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ufo.entity.GridColumnInfoEntity" >
    update ufo_grid_column_info
    set grid_id = #{gridId,jdbcType=BIGINT},
      data_id = #{dataId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      field = #{field,jdbcType=VARCHAR},
      data_options = #{dataOptions,jdbcType=VARCHAR},
      width = #{width,jdbcType=INTEGER},
      rowspan = #{rowspan,jdbcType=INTEGER},
      colspan = #{colspan,jdbcType=INTEGER},
      halign = #{halign,jdbcType=VARCHAR},
      align = #{align,jdbcType=VARCHAR},
      sortable = #{sortable,jdbcType=BIT},
      `order` = #{order,jdbcType=VARCHAR},
      resizable = #{resizable,jdbcType=BIT},
      fixed = #{fixed,jdbcType=BIT},
      hidden = #{hidden,jdbcType=BIT},
      checkbox = #{checkbox,jdbcType=BIT},
      frozen = #{frozen,jdbcType=BIT},
      formatter = #{formatter,jdbcType=VARCHAR},
      styler = #{styler,jdbcType=VARCHAR},
      sorter = #{sorter,jdbcType=VARCHAR},
      editor = #{editor,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=VARCHAR},
      valid_type = #{validType,jdbcType=VARCHAR},
      required = #{required,jdbcType=BIT},
      searchable = #{searchable,jdbcType=BIT},
      insertable = #{insertable,jdbcType=BIT},
      modifyable = #{modifyable,jdbcType=BIT},
      `status` = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>