<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ufo.mapper.GridButtonInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.ufo.entity.GridButtonInfoEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="grid_id" property="gridId" jdbcType="BIGINT" />
    <result column="grid_name" property="gridName" jdbcType="VARCHAR" />
    <result column="text" property="text" jdbcType="VARCHAR" />
    <result column="icon_cls" property="iconCls" jdbcType="VARCHAR" />
    <result column="plain" property="plain" jdbcType="BIT" />
    <result column="disabled" property="disabled" jdbcType="BIT" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="icon_align" property="iconAlign" jdbcType="VARCHAR" />
    <result column="width" property="width" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    <result column="handler" property="handler" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, grid_id, grid_name, `text`, icon_cls, plain, disabled, `size`, icon_align, width, 
    height, `handler`, `status`, create_time, creater, update_time, updater
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ufo_grid_button_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ufo_grid_button_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ufo.entity.GridButtonInfoEntity" >
    insert into ufo_grid_button_info (id, grid_id, grid_name, 
      `text`, icon_cls, plain, disabled, 
      `size`, icon_align, width, 
      height, `handler`, `status`, 
      create_time, creater, update_time, 
      updater)
    values (#{id,jdbcType=BIGINT}, #{gridId,jdbcType=BIGINT}, #{gridName,jdbcType=VARCHAR}, 
      #{text,jdbcType=VARCHAR}, #{iconCls,jdbcType=VARCHAR}, #{plain,jdbcType=BIT}, #{disabled,jdbcType=BIT}, 
      #{size,jdbcType=VARCHAR}, #{iconAlign,jdbcType=VARCHAR}, #{width,jdbcType=INTEGER}, 
      #{height,jdbcType=INTEGER}, #{handler,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ufo.entity.GridButtonInfoEntity" >
    insert into ufo_grid_button_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gridId != null" >
        grid_id,
      </if>
      <if test="gridName != null" >
        grid_name,
      </if>
      <if test="text != null" >
        `text`,
      </if>
      <if test="iconCls != null" >
        icon_cls,
      </if>
      <if test="plain != null" >
        plain,
      </if>
      <if test="disabled != null" >
        disabled,
      </if>
      <if test="size != null" >
        `size`,
      </if>
      <if test="iconAlign != null" >
        icon_align,
      </if>
      <if test="width != null" >
        width,
      </if>
      <if test="height != null" >
        height,
      </if>
      <if test="handler != null" >
        `handler`,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gridId != null" >
        #{gridId,jdbcType=BIGINT},
      </if>
      <if test="gridName != null" >
        #{gridName,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        #{text,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null" >
        #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="plain != null" >
        #{plain,jdbcType=BIT},
      </if>
      <if test="disabled != null" >
        #{disabled,jdbcType=BIT},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="iconAlign != null" >
        #{iconAlign,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        #{height,jdbcType=INTEGER},
      </if>
      <if test="handler != null" >
        #{handler,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ufo.entity.GridButtonInfoEntity" >
    update ufo_grid_button_info
    <set >
      <if test="gridId != null" >
        grid_id = #{gridId,jdbcType=BIGINT},
      </if>
      <if test="gridName != null" >
        grid_name = #{gridName,jdbcType=VARCHAR},
      </if>
      <if test="text != null" >
        `text` = #{text,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null" >
        icon_cls = #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="plain != null" >
        plain = #{plain,jdbcType=BIT},
      </if>
      <if test="disabled != null" >
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="size != null" >
        `size` = #{size,jdbcType=VARCHAR},
      </if>
      <if test="iconAlign != null" >
        icon_align = #{iconAlign,jdbcType=VARCHAR},
      </if>
      <if test="width != null" >
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null" >
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="handler != null" >
        `handler` = #{handler,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ufo.entity.GridButtonInfoEntity" >
    update ufo_grid_button_info
    set grid_id = #{gridId,jdbcType=BIGINT},
      grid_name = #{gridName,jdbcType=VARCHAR},
      `text` = #{text,jdbcType=VARCHAR},
      icon_cls = #{iconCls,jdbcType=VARCHAR},
      plain = #{plain,jdbcType=BIT},
      disabled = #{disabled,jdbcType=BIT},
      `size` = #{size,jdbcType=VARCHAR},
      icon_align = #{iconAlign,jdbcType=VARCHAR},
      width = #{width,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      `handler` = #{handler,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>