<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ufo.mapper.GridExtendInfoEntityMapper" >
  <resultMap id="BaseResultMap" type="com.ufo.entity.GridExtendInfoEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="grid_id" property="gridId" jdbcType="BIGINT" />
    <result column="grid_name" property="gridName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="data_options" property="dataOptions" jdbcType="VARCHAR" />
    <result column="add_url" property="addUrl" jdbcType="VARCHAR" />
    <result column="remove_url" property="removeUrl" jdbcType="VARCHAR" />
    <result column="modify_url" property="modifyUrl" jdbcType="VARCHAR" />
    <result column="fit_columns" property="fitColumns" jdbcType="BIT" />
    <result column="stripe" property="stripe" jdbcType="BIT" />
    <result column="nowrap" property="nowrap" jdbcType="BIT" />
    <result column="pagination" property="pagination" jdbcType="BIT" />
    <result column="rownumbers" property="rownumbers" jdbcType="BIT" />
    <result column="single_select" property="singleSelect" jdbcType="BIT" />
    <result column="multi_sort" property="multiSort" jdbcType="BIT" />
    <result column="page_position" property="pagePosition" jdbcType="VARCHAR" />
    <result column="page_size" property="pageSize" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, grid_id, grid_name, url, data_options, add_url, remove_url, modify_url, fit_columns, 
    stripe, nowrap, pagination, rownumbers, single_select, multi_sort, page_position, 
    page_size, `status`, create_time, creater, update_time, updater
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ufo_grid_extend_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ufo_grid_extend_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ufo.entity.GridExtendInfoEntity" >
    insert into ufo_grid_extend_info (id, grid_id, grid_name, 
      url, data_options, add_url, 
      remove_url, modify_url, fit_columns, 
      stripe, nowrap, pagination, rownumbers, 
      single_select, multi_sort, page_position, 
      page_size, `status`, create_time, 
      creater, update_time, updater
      )
    values (#{id,jdbcType=BIGINT}, #{gridId,jdbcType=BIGINT}, #{gridName,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{dataOptions,jdbcType=VARCHAR}, #{addUrl,jdbcType=VARCHAR}, 
      #{removeUrl,jdbcType=VARCHAR}, #{modifyUrl,jdbcType=VARCHAR}, #{fitColumns,jdbcType=BIT}, 
      #{stripe,jdbcType=BIT}, #{nowrap,jdbcType=BIT}, #{pagination,jdbcType=BIT}, #{rownumbers,jdbcType=BIT}, 
      #{singleSelect,jdbcType=BIT}, #{multiSort,jdbcType=BIT}, #{pagePosition,jdbcType=VARCHAR}, 
      #{pageSize,jdbcType=INTEGER}, #{status,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creater,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ufo.entity.GridExtendInfoEntity" >
    insert into ufo_grid_extend_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gridId != null" >
        grid_id,
      </if>
      <if test="gridName != null" >
        grid_name,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="dataOptions != null" >
        data_options,
      </if>
      <if test="addUrl != null" >
        add_url,
      </if>
      <if test="removeUrl != null" >
        remove_url,
      </if>
      <if test="modifyUrl != null" >
        modify_url,
      </if>
      <if test="fitColumns != null" >
        fit_columns,
      </if>
      <if test="stripe != null" >
        stripe,
      </if>
      <if test="nowrap != null" >
        nowrap,
      </if>
      <if test="pagination != null" >
        pagination,
      </if>
      <if test="rownumbers != null" >
        rownumbers,
      </if>
      <if test="singleSelect != null" >
        single_select,
      </if>
      <if test="multiSort != null" >
        multi_sort,
      </if>
      <if test="pagePosition != null" >
        page_position,
      </if>
      <if test="pageSize != null" >
        page_size,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updater != null" >
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="gridId != null" >
        #{gridId,jdbcType=BIGINT},
      </if>
      <if test="gridName != null" >
        #{gridName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="dataOptions != null" >
        #{dataOptions,jdbcType=VARCHAR},
      </if>
      <if test="addUrl != null" >
        #{addUrl,jdbcType=VARCHAR},
      </if>
      <if test="removeUrl != null" >
        #{removeUrl,jdbcType=VARCHAR},
      </if>
      <if test="modifyUrl != null" >
        #{modifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="fitColumns != null" >
        #{fitColumns,jdbcType=BIT},
      </if>
      <if test="stripe != null" >
        #{stripe,jdbcType=BIT},
      </if>
      <if test="nowrap != null" >
        #{nowrap,jdbcType=BIT},
      </if>
      <if test="pagination != null" >
        #{pagination,jdbcType=BIT},
      </if>
      <if test="rownumbers != null" >
        #{rownumbers,jdbcType=BIT},
      </if>
      <if test="singleSelect != null" >
        #{singleSelect,jdbcType=BIT},
      </if>
      <if test="multiSort != null" >
        #{multiSort,jdbcType=BIT},
      </if>
      <if test="pagePosition != null" >
        #{pagePosition,jdbcType=VARCHAR},
      </if>
      <if test="pageSize != null" >
        #{pageSize,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ufo.entity.GridExtendInfoEntity" >
    update ufo_grid_extend_info
    <set >
      <if test="gridId != null" >
        grid_id = #{gridId,jdbcType=BIGINT},
      </if>
      <if test="gridName != null" >
        grid_name = #{gridName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="dataOptions != null" >
        data_options = #{dataOptions,jdbcType=VARCHAR},
      </if>
      <if test="addUrl != null" >
        add_url = #{addUrl,jdbcType=VARCHAR},
      </if>
      <if test="removeUrl != null" >
        remove_url = #{removeUrl,jdbcType=VARCHAR},
      </if>
      <if test="modifyUrl != null" >
        modify_url = #{modifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="fitColumns != null" >
        fit_columns = #{fitColumns,jdbcType=BIT},
      </if>
      <if test="stripe != null" >
        stripe = #{stripe,jdbcType=BIT},
      </if>
      <if test="nowrap != null" >
        nowrap = #{nowrap,jdbcType=BIT},
      </if>
      <if test="pagination != null" >
        pagination = #{pagination,jdbcType=BIT},
      </if>
      <if test="rownumbers != null" >
        rownumbers = #{rownumbers,jdbcType=BIT},
      </if>
      <if test="singleSelect != null" >
        single_select = #{singleSelect,jdbcType=BIT},
      </if>
      <if test="multiSort != null" >
        multi_sort = #{multiSort,jdbcType=BIT},
      </if>
      <if test="pagePosition != null" >
        page_position = #{pagePosition,jdbcType=VARCHAR},
      </if>
      <if test="pageSize != null" >
        page_size = #{pageSize,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ufo.entity.GridExtendInfoEntity" >
    update ufo_grid_extend_info
    set grid_id = #{gridId,jdbcType=BIGINT},
      grid_name = #{gridName,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      data_options = #{dataOptions,jdbcType=VARCHAR},
      add_url = #{addUrl,jdbcType=VARCHAR},
      remove_url = #{removeUrl,jdbcType=VARCHAR},
      modify_url = #{modifyUrl,jdbcType=VARCHAR},
      fit_columns = #{fitColumns,jdbcType=BIT},
      stripe = #{stripe,jdbcType=BIT},
      nowrap = #{nowrap,jdbcType=BIT},
      pagination = #{pagination,jdbcType=BIT},
      rownumbers = #{rownumbers,jdbcType=BIT},
      single_select = #{singleSelect,jdbcType=BIT},
      multi_sort = #{multiSort,jdbcType=BIT},
      page_position = #{pagePosition,jdbcType=VARCHAR},
      page_size = #{pageSize,jdbcType=INTEGER},
      `status` = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>